# Директория для скомпилированных артефактов
/target/

# Артефакты пакетов Cargo
Cargo.lock
Cargo.toml

# Бинарные файлы (если у вас есть такие)
*.rs.bk

# Локальная конфигурация IDE (если используется VSCode)
.vscode/

# Конфигурационные файлы IDE
.idea/
*.iml

# Конфигурационные файлы для разработки (например, файлов Docker или других инструментов сборки)
/docker-compose.yml
/Dockerfile

# Файлы окружения
.env

# Логи и временные файлы
*.log
*.tmp
*.swp

# MacOS файлы
.DS_Store

# Windows файлы
Thumbs.db

.env